@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Products Page";
}


<div class="d-flex justify-content-between p-3">
    <h2>Products list</h2>
    <a class="btn btn-dark" asp-controller="Products" asp-action="Create"><span>Create new product</span></a>
</div>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity Per Unit</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Units In Stock</th>
            <th scope="col">Units On Order</th>
            <th scope="col">Reorder Level</th>
            <th scope="col">Discontinued</th>
            <th scope="col">Category Name</th>
            <th scope="col">Supplier Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.ProductID</th>
            <td>@item.ProductName</td>
            <td>@item.QuantityPerUnit</td>
            <td>@item.UnitPrice.ToString("F")</td>
            <td>@item.UnitsInStock</td>
            <td>@item.UnitsOnOrder</td>
            <td>@item.ReorderLevel</td>
            <td>@item.Discontinued</td>
            <td>@item.CategoryName</td>
            <td>@item.CompanyName</td>
            <td><a asp-controller="Products" asp-action="Update" asp-route-productId="@item.ProductID"><span>Edit</span><i class="fas fa-edit"></i></a></td>
        </tr>
        }
    </tbody>
</table>